
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.svn/
licenses.licx
#Nuget packages folder
packages/
/Master/Adss.Addons.ToolKits/Properties/licenses.licx
/Tools/Adss.AssemblyWizard.Tools/Properties/licenses.licx
.config
*.log
/Bin/x64/configs/
/Bin/x64/configs/filecompare
*.orig
