<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IsAutoTrans" value="false" />
		<add key="AutoTransErrorFolder" value="D:/DATA/Error/" />
		<add key="AutoTransCopyFolder" value="D:/DATA/Finish/" />
		<add key="AutoTransTempFolder" value="D:/DATA/Temp/" />
		<add key="AutoTransToolFolder" value="D:/DATA/Tool/" />
		<add key="AutoTransResultFolder" value="D:/DATA/Result/" />
		<add key="AutoTransLogFolder" value="D:/DATA/Log/" />
		<add key="AutoTransServiceFolder" value="" />
		<add key="AutoTransOverTime" value="180" />
		<add key="Connect2RemoteService" value="false" />
	</appSettings>
</configuration>